* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", cursive;
}

/*CONTAINERS*/

.signup-container,
.forgot-container,
.login-container,
.reset-container,
.login2-container {
  width: 95vw;
  margin: 0 auto;
}

.signup-card-body,
.login-card-body,
.login2-card-body,
.forgot-card-body,
.reset-card-body {
  width: 60%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 18px !important;
  border-bottom-right-radius: 18px !important;
  border: 1px solid rgb(26, 140, 201);
}

.google {
  cursor: pointer;
  width: 100%;
}

.google:hover {
  background-color: gainsboro;
}

.google h3 a:hover {
  text-decoration: none !important;
  color: grey !important;
}

.line {
  height: 2px;
  width: 25%;
}

.card-img-top {
  width: 35px !important;
}
.email,
.content-input,
.email-input {
  width: 100%;
}

.instructions-card {
  width: 70%;
}

.login-instructions-card {
  width: 80%;
}

/*MEDIA QUERIES*/

@media (max-width: 768px) {
  .signup-card-body,
  .forgot-card-body,
  .login-card-body,
  .login2-card-body,
  .reset-card-body {
    width: 100%;
  }

  .google {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .instructions-card,
  .login-instructions-card {
    width: 100%;
  }
}
